[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

# Django
Django = "~=2.2.1"

# Django REST Framework
djangorestframework = "~=3.9.1"

# Database
dj-database-url = "==0.4.2"
psycopg2-binary = "~=2.6"

# Utilities
google-api-python-client = "~=1.7.7"
minilog = "*"
pylast = "~=3.1.0"
pytz = "*"

# Server
gunicorn = "~=19.9.0"
whitenoise = "~=4.1.2"

[dev-packages]

# Linters
pycodestyle = "*"
pylint = "~=1.7.0"

# Testing
pytest = "~=3.8.2"
pytest-cov = "*"
pytest-describe = "*"
pytest-django = "*"
pytest-expecter = "*"
pytest-watch = "*"

# Reports
coveragespace = "*"

# Server
honcho = "*"
django-livereload-server = "*"
