[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
dj_database_url = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-describe = "*"
pytest_expecter = "*"
pytest-watch = "*"
pytest_cov = "*"
"coverage.space" = "*"
