[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

djangorestframework = "~=3.5.3"
dj-database-url = "==0.4.2"
psycopg2 = "~=2.6"
pylast = "~=1.8"
google-api-python-client = "~=1.6.1"
pytz = "*"
whitenoise = "~=3.3"
gunicorn = "~=19.6"
django-livereload-server = "*"
Django = "~=1.10"

[dev-packages]

pylint = "~=1.7.0"
pycodestyle = "*"
pytest = "~=3.0.7"
pytest-django = "*"
pytest-describe = "==0.11.0"
pytest-expecter = "==0.2.2.post5"
pytest-watch = "*"
coverage-space = "*"
pytest-cov = "*"
