.navbar {
    border-radius: 0px;
}
.navbar-nav {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-login {
    background-color: #DB0000;
    color: #FFFFFF;
}

.compass {
    position: relative;
    text-align: center;
    float: left;
}
.compass-image {
    width: 150px;
}
.compass-text {
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
}
