{% load static %}
<html>
    <head>
        <title>Virtual Boombox</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#db1f12">
        <meta name="theme-color" content="#db1f12">
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="navbar-right">
            {% if username %}
                <p class="navbar-text">
                    Sharing from Last.fm as {{ username }}
                </p>
                <a role="button" href="/logout" class="btn btn-logout navbar-btn" title="Log out from Last.fm">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                </a>
            {% else %}
                <a role="button" href="https://www.last.fm/api/auth/?api_key={{ lastfm_api_key }}&&cb={{ lastfm_callback_url }}" class="btn btn-login navbar-btn" title="Log in with Last.fm">
                    <span class="glyphicon glyphicon-log-in"></span>
                    &nbsp;
                    Share your Last.fm
                </a>
            {% endif %}
            </div>
        </nav>

        <ul id="messages" class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>

        <div class="container">

            <div class="row">
                <div class="col-sm-offset-2 col-sm-3 col-md-offset-3 col-md-2">
                    <div class="compass">
                        <img id="compass" class="compass-image" src="{% static 'images/compass.draw.io.svg' %}">
                        <div id="compass-text" class="compass-text">
                           <!-- distance placeholder -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-md-4">
                    <div class="song">
                        <p id="current-song">
                            <!-- song placeholder -->
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <button id="next-song" type="button" class="btn btn-default center-block">
                    <span class="glyphicon glyphicon-refresh"></span>
                    &nbsp;
                    Find Nearest Playing Song
                </button>
            </div>

        </div>

        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'javascript/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'javascript/jquery.rotate.min.2.3.js' %}"></script>
        <script src="{% static 'javascript/index.js' %}"></script>
    </body>
</html>
