{% load static %}
<html>
    <head>
        <title>Virtual Boombox</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="navbar-nav navbar-right">
            {% if username %}
                <p class="navbar-text">
                    Sharing from Last.fm as {{ username }}
                </p>
            {% else %}
                <a href="https://www.last.fm/api/auth/?api_key={{ lastfm_api_key }}&&cb={{ lastfm_callback_url }}" class="btn btn-login navbar-btn fa fa-lastfm" role="button">
                    Share your Last.fm
                </a>
            {% endif %}
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-3">
                    <div class="compass">
                        <img id="compass" class="compass-image" src="{% static 'images/compass.svg' %}">
                        <div class="compass-text">
                           5000 <br> miles
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                {% for song in songs %}
                    {{ song }}
                {% endfor %}
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'javascript/jqueryrotate.js' %}"></script>
        <script src="{% static 'javascript/index.js' %}"></script>
    </body>
</html>
